/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {background-color:#e8e8e8;
      padding:20px;}

h1 {position:fixed;}


h1 {padding:10px;
    font-family:Helvetica;
    font-size:35px;
    color:#0a140c;
    position:fixed;}

#nav {
  padding-top:10px;
      float:right;
      list-style-type:none;}

li, a {
   float:left;
    padding:5px;
    font-family:Helvetica;
    font-size:15px;
    color:#0a140c; 
    text-decoration:none;}


a:hover {color:#4EDCCA;
	opacity:1.0;}

h2 {float:right;
  }

h3 {position:fixed;
  padding-top: 200px;
  padding-left:900px;
  font-family:Helvetica;
    font-size:30px;
    color:#0a140c;
    width:430px;}

h4 { position:fixed;
  padding-left:900px;
  font-family:Helvetica;
    font-weight:bold;
    color:#0a140c;
 }

p {position:fixed;
  padding-top:350px;
  padding-left:900px;
  font-family:Helvetica;
    font-size:10px;
    width:300px;
    color:#0a140c;
  }
 
.one {padding-top:200px;}

