/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {background-color:#e8e8e8;}

h1 {position:fixed;}


#nav {padding-top:10px;
      float:right;
      list-style-type:none;}

li, a {float:left;
    padding:5px;
    font-family:Helvetica;
    font-size:15px;
    color:#0a140c; 
    text-decoration:none;}


a:hover {color:#4EDCCA;
	opacity:1.0;}


h2 {padding-left:1200px;}

 h3 {padding-top: 200px;
 	padding-left:300px;
 	font-family:Helvetica;
    font-size:30px;
    color:#0a140c;
    }

p {padding-left:300px;
 	font-family:Helvetica;
    font-size:12px;
    color:#0a140c;
    width:300px;}



