/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
      background-color:#e8e8e8;}


h1 {padding:10px;
    font-family:Helvetica;
    font-size:35px;
    color:#0a140c;
    position:fixed;}

#nav {
  padding-top:10px;
      float:right;
      list-style-type:none;}

header
{position:fixed;
right:0;}

li, a {
   float:left;
    padding:5px;
    font-family:Helvetica;
    font-size:15px;
    color:#0a140c; 
    text-decoration:none;}

a:hover {color:#4EDCCA;
  opacity:1.0;}


.images {float:left;
        padding-left:100px;
         padding-top:180px;
         width:1400px;
         }

img:hover {opacity:0.2;}


h2 {float:right;}


