/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



h1 {position:fixed;}


#nav {padding-top:10px;
      float:right;
      list-style-type:none;}

li, a {float:left;
    padding:5px;
    font-family:Helvetica;
    font-size:15px;
    color:#0a140c; 
    text-decoration:none;}


#images {float:left;
         padding-left:60px;
         width:1400px;
         opacity: 04;}


#images:hover {opacity:1.0;}



