


body {position:relative;
      background-color:#1a2325;
      font-family:LFT Etica;
      border-top-width:4px;
      border-top-color:#f8695a;
      border-top-style:solid;
      margin-right:auto;
      margin-left:auto;
      width:1100px;
      }
      

h1    {color:white;
       font-size:25px;
       }

h2    {color:white;
       font-size:20px;
       font-weight:lighter;
       }


h4 {color:#363c3e;
    font-size:15px;
    font-weight:lighter;
    }



p {color:#abadad;
   font-size:15px;
   font-weight:lighter;

   }


a {color:#01ccce;
   text-decoration:none;
   font-size:15px;
   border-bottom-width:2px;
  border-bottom-color:#363c3e;
  border-bottom-style:dotted;
  padding-bottom:10px;
   }
 
 button {color:white;
        background-color:#01ccce;
        padding:10px;
        margin:10px;
        border:none;
        }
 
 div
 {width:350px;
  padding-left:100px;
  padding-top:100px;
  }

@media (max-width: 900px) 
{
  h1 {font-size: 20px;}
  h2 {font-size:15px;}
  h4 {font-size:10px;}
  a {font-size:10px;}
  p {font-size:10px;}
}

@media (min-width: 550px) 
{
  h1 {font-size: 25px;}
  h2 {font-size:20px;}
  h4 {font-size:15px;}
  a {font-size:15px;}
  p {font-size:15px;}
}



  h1, h2, h4, p, a {transition-duration:.5s;}



  .calendar {
  position:absolute;
  right:200px;
  top:120px;
  border-style:solid;
  border-color:white;
  border-width:3px;}

  .anchor {
  position:absolute;
  right:200px;
  top: 640px; 
  border-style:solid;
  border-color:white;
  border-width:3px;}

  .stickers {
  position:absolute;
  right:200px;
  top:1160px;
 border-style:solid;
  border-color:white;
  border-width:3px;}

  .dobot {
    position:absolute;
    left:100px;
  }






