

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {position:relative;
      background-color:#1a2325;
      font-family:LFT Etica;
      border-top-width:4px;
      border-top-color:#f8695a;
      border-top-style:solid;
      margin-right:auto;
      margin-left:auto;
      }
      

h1    {color:white;
       font-size:25px;
       }

h2    {color:white;
       font-size:20px;
       font-weight:lighter;
       }


h4 {color:#363c3e;
    font-size:15px;
    font-weight:lighter;
    }



p {color:#abadad;
   font-size:15px;
   font-weight:lighter;

   }


a {color:#01ccce;
   text-decoration:none;
   font-size:15px;
   border-bottom-width:2px;
   border-bottom-color:#363c3e;
   border-bottom-style:dotted;
   padding-bottom:10px;
   }
 
 button {color:white;
        background-color:#01ccce;
        padding:10px;
        margin:10px;
        border:none;
        }
 
 div
 {width:350px;
  padding-left:100px;
  padding-top:100px;
  }

.monsterdiv {
  padding-bottom:20px;
  border-bottom-style:solid;
  border-bottom-color:#363c3e;
  border-bottom-width:2px;
}

.anchordiv {
  padding-bottom:20px;
  border-bottom-style:solid;
  border-bottom-color:#363c3e;
  border-bottom-width:2px;
}

  h1, h2, h4, p, a  {width:300px;}



@media (max-width: 1200px) 

  h1 {font-size: 20px;}
  h2 {font-size:15px;}
  h4 {font-size:10px;}
  a {font-size:10px;}
  p {font-size:10px;} 
  .calendar {
      width:50%; 
      right:200px;
      top:120px;
      border-style:solid;
      border-color:white;
      border-width:3px;}
  .anchor {
      width:50%;
      right:200px;
      top: 640px; 
      border-style:solid;
      border-color:white;
      border-width:3px;}
  .stickers {
    width:50%;
     right:200px;
     top:1160px;
     border-style:solid;
     border-color:white;
     border-width:3px;}
  .dobot {width:5%;
     position:absolute;
    left:100px;}


}

@media (min-width: 500px) 

  h1 {font-size: 25px;
      }
  h2 {font-size:20px;
      }
  h4 {font-size:15px;}
  a {font-size:15px;}
  p {font-size:15px;}
  .calendar, .anchor, .stickers {
                                 float:left;}
  .calendar {
      width:100%; 
      right:500px;
      top:120px;
      border-style:solid;
      border-color:white;
      border-width:3px;}
  .anchor { 
       width:100%;
      right:500px;
      top: 640px; 
      border-style:solid;
      border-color:white;
      border-width:3px;}
  .stickers {
     width:100%;
     right:500px;
     top:1160px;
     border-style:solid;
     border-color:white;
     border-width:3px;}
  .dobot {width:5%;
     position:absolute;
    left:100px;}

}



  h1, h2, h4, p, a {transition-duration:.5s;}
  .calendar, .stickers, .anchor, .dobot {transition-duration:.5s;}









